<div class="pagina-wrapper">
  <div class="pagina-loper-background"></div>
  <div class="row h-100">
    <div class="col-md-6">
      <div class="title-counter-container">
        <div class="title">De 100km-run
          <br/> Samen lopen
          <br/> tegen kanker
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
    <!-- <div class="col-md-6">
            <div class="container d-flex h-100">
                <div class="justify-content-center align-self-center">
                    <app-company-stat></app-company-stat>
                    <br />
                    <app-company-stat></app-company-stat>
                    <br />
                    <app-company-stat></app-company-stat>
                </div>
            </div>
        </div> -->
  </div>
</div>
