// #ff7800
// #ffffff
// #00f1c8
// #0000000
// #96dadd

body {
    margin: 0;
    overflow: hidden;
}

.pagina-wrapper {
    height: 100vh;
    background-image: url('../images/SchoenenStrokesAchtergrond.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

.title-counter-container {
    margin-left: 15%;
    padding-top: 20%;
}

.title {
    color: white;
    font-size: 5vw;
    font-family: 'Bungee', cursive;
}

.company-stat {
    margin-left: 10%;
}

.company-block {
    margin: 25px 0px 25px 100px;
    width: 350px;
    height: 50px;
}

.company-block-bg {
    position: absolute;
    margin-top: 20px;
    margin-left: 25px; 
    width: 320px;
    height: 30px;
    background-color: white;
    z-index: 9;
}

.company-block-progress {
    position: absolute;
    margin-top: 20px;
    margin-left: 25px; 
    height: 15px;
    background-color: red;
    z-index: 9;
}

.company-img {
    position: absolute;
    width: 100px;
    z-index: 10;
}

.company-name {
    margin-left: 80px;
    margin-bottom: 25px;
    color: black;
    font-size: 0.8vw;
    font-family: 'Roboto', cursive;
    font-weight: bold;
}

.company-km-counter {
    color: black;
    font-size: 2vw;
    font-family: 'Bungee', cursive;
}
.company-km-counter-km {
    color: black;
    font-size: 1vw;
    font-family: 'Roboto', cursive;
}